.btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    cursor: pointer;
}

.sales-color-line,
.join-color-line, 
.pricing-color-line,
.request-color-line {
    background-color: rgba(241, 137, 123, 1);
    opacity: .3;
    cursor: pointer;  
}

.join-color-line {
    width: 5.7rem;
    height: 13px;
    margin-left: 10px;
    margin-top: -13px; 
}

.sales-color-line {
    width: 8.6rem;
    height: 13px;
    margin-left: 10px;
    margin-top: -12px;
}

.pricing-color-line {
    width: 5.7rem;
    height: 13px;
    margin-left: 10px;
    margin-top: -12px;
}

.request-color-line {
    width: 8.5rem;
    height: 13px;
    margin-left: 10px;
    margin-top: -12px;
}

.box-hr {

    margin-top: 20%;
    margin-left: 30%;
    width: 6rem;
    border: 1px solid rgba(133, 187, 177, 1)
}

.hr-contact {
    margin-top: 5%;
    width: 85%;
    margin-left: 7%;
}

.hr-footer {
    margin-top: 5%;
    width: 85%;
    margin-left: 7%;
}