%Lato400 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

%Lato300 {
    font-family: "Lato";
    font-weight: 300;
}

%Playfair400 {
    font-family: "Playfair Display";
    font-weight: 400;
}

%DisplayRow {
    display: flex;
    flex-direction: row;
}

%DisplayRowReverse {
    display: flex;
    flex-direction: row-reverse;
}

%DisplayColumn {
    display: flex;
    flex-direction: column;
}