@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  cursor: pointer;
}

.sales-color-line,
.join-color-line,
.pricing-color-line,
.request-color-line {
  background-color: rgb(241, 137, 123);
  opacity: 0.3;
  cursor: pointer;
}

.join-color-line {
  width: 5.7rem;
  height: 13px;
  margin-left: 10px;
  margin-top: -13px;
}

.sales-color-line {
  width: 8.6rem;
  height: 13px;
  margin-left: 10px;
  margin-top: -12px;
}

.pricing-color-line {
  width: 5.7rem;
  height: 13px;
  margin-left: 10px;
  margin-top: -12px;
}

.request-color-line {
  width: 8.5rem;
  height: 13px;
  margin-left: 10px;
  margin-top: -12px;
}

.box-hr {
  margin-top: 20%;
  margin-left: 30%;
  width: 6rem;
  border: 1px solid rgb(133, 187, 177);
}

.hr-contact {
  margin-top: 5%;
  width: 85%;
  margin-left: 7%;
}

.hr-footer {
  margin-top: 5%;
  width: 85%;
  margin-left: 7%;
}

.container {
  padding: 0 5%;
}

.italic {
  font-style: italic;
  color: rgb(133, 187, 177);
}

.header__logo-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 5%;
  padding-top: 5%;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}
.header__navbar {
  display: flex;
  flex-direction: row-reverse;
}
.header__navbar a {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: black;
  margin-left: 1rem;
  margin-right: 3rem;
}
.header__navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f1897b;
  transition: 0.3s;
}
.header__navbar a:hover::before {
  width: 100%;
}
.header__logo-bar nav {
  display: flex;
}

#icon {
  cursor: pointer;
  font-size: 140%;
}

.home {
  background: url(./assets/png/first-screen-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 145vh;
  padding-top: 2%;
  position: relative;
}
.home__clearing-house {
  margin-top: 17%;
  max-width: 35rem;
  margin-left: 7%;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 20px;
}
.home__text-about {
  margin-top: 4%;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  opacity: 80%;
  max-width: 28rem;
  line-height: 25px;
}
.home__join-now {
  color: rgb(241, 137, 123);
  margin-top: 8%;
}
.home__solis-about {
  display: flex;
  margin: 15% 0 0 7%;
  position: relative;
}
.home .img-skyscrapers {
  max-width: 100%;
  height: auto;
}
.home__white-box {
  background-color: rgb(255, 255, 255);
  margin: 3% 0;
  position: absolute;
  margin-left: 33%;
  opacity: 80%;
}
.home__box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 20px 30px 50px;
}
.home__box-numbers {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}
.home__box-num {
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  margin-top: 20%;
  white-space: nowrap;
}
.home__dollar {
  margin-right: 6%;
  opacity: 10%;
  font-size: 40px;
}
.home__box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 7%;
  max-width: 23rem;
}
.home__solis-group {
  line-height: 25px;
  color: rgb(38, 42, 63);
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
}
.home__contact-sales {
  color: rgb(241, 137, 123);
  margin-top: 10%;
}

@media (max-width: 1120px) {
  .home {
    height: 130vh;
  }
  .home__white-box {
    margin-left: 25%;
  }
  .home__box-numbers {
    padding-right: 50px;
  }
}
@media (max-width: 940px) {
  .home__white-box {
    margin-top: 5%;
  }
  .home__box-content {
    padding: 5px;
  }
}
@media (max-width: 830px) {
  .home__white-box {
    margin-left: 5%;
  }
  .home__white-box {
    margin-top: 20%;
  }
}
@media (max-width: 830px) {
  .home__box-num {
    font-size: 40px;
  }
}
@media (max-width: 660px) {
  .home__white-box {
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  .home__white-box {
    margin-top: 5%;
  }
}
@media (max-width: 580px) {
  .home__box-content {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .home .img-skyscrapers {
    height: 58rem;
  }
}
@media (max-width: 760px) {
  .home__clearing-house {
    margin-top: 25%;
  }
}
@media (max-width: 560px) {
  .home__clearing-house {
    margin-top: 30%;
  }
}
.products {
  margin-top: 40%;
}
.products__boxes-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-left: 3%;
}
.products__left-part {
  max-width: 33%;
}
.products__right-part {
  max-width: 32%;
}
.products__title {
  font-family: "Playfair Display ";
  font-weight: 400;
  font-size: 40px;
  color: #000;
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 90%;
}
.products__paragraph {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  color: rgb(38, 42, 63);
  margin-bottom: 20%;
}
.products__quote-back {
  background: url(./assets/png/quote-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 76vh;
  margin: 5% 7%;
}
.products__quote-img {
  position: absolute;
  margin-top: 8%;
  margin-left: 10%;
}
.products__quote {
  position: absolute;
  max-width: 50%;
  margin-top: 11%;
  margin-left: 15%;
  color: white;
}
.products__quote-title {
  font-family: "Lato";
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 5%;
  line-height: 46px;
}
.products__quote-paragraph {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

@media (max-width: 968px) {
  .products__quote-back {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  .products__boxes-row {
    flex-direction: column;
  }
  .products__left-part {
    max-width: 90%;
  }
  .products__right-part {
    max-width: 90%;
  }
  .products__quote-back {
    height: 50vh;
  }
}
@media (max-width: 1400px) {
  .products {
    margin-top: 30%;
  }
}
@media (max-width: 1240px) {
  .products {
    margin-top: 60%;
  }
}
@media (max-width: 1040px) {
  .products {
    margin-top: 60%;
  }
}
@media (max-width: 940px) {
  .products {
    margin-top: 20%;
  }
}
@media (max-width: 830px) {
  .products {
    margin-top: 10%;
  }
}
@media (max-width: 580px) {
  .products {
    margin-top: 100%;
  }
}
@media (max-width: 475px) {
  .products {
    margin-top: 90%;
  }
}
@media (max-width: 410px) {
  .products {
    margin-top: 90%;
  }
}
@media (max-width: 395px) {
  .products {
    margin-top: 120%;
  }
}
@media (max-width: 376px) {
  .products {
    margin-top: 180%;
  }
}
@media (max-width: 768px) {
  .products__quote-title {
    font-size: 2rem;
  }
}
@media (max-width: 675px) {
  .products__quote-title {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
}
@media (max-width: 550px) {
  .products__quote-title {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
}
@media (max-width: 400px) {
  .products__quote-title {
    font-size: 1.2rem;
    padding-bottom: 5%;
  }
}
.cases {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}
.cases__content {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.cases__img-tablet {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.cases__img-screen, .cases__img-play {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 90%;
  max-height: 95%;
  margin-top: 3%;
  margin-left: 4%;
}
.cases__img-play {
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.cases__text-wrap {
  margin: 5% 0 5% 15%;
}
.cases__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 3%;
}
.cases__paragraph {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  max-width: 70%;
}

@media (max-width: 820px) {
  .cases__img-play {
    width: 15%;
    height: 23%;
  }
  .cases__text-wrap {
    margin: 5% 2% 5% 5%;
  }
}
.pricing {
  display: flex;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 7%;
  margin-bottom: 5%;
}
.pricing .img-features {
  max-width: 100%;
  height: auto;
}
@media (max-width: 560px) {
  .pricing .img-features {
    max-width: 100%;
    height: 33rem;
  }
}
.pricing__white-box {
  background-color: rgb(255, 255, 255);
  margin: 4% 0;
  position: absolute;
  margin-left: 30%;
  opacity: 80%;
}
.pricing__box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8%;
}
.pricing__left-side {
  text-align: flex-start;
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}
.pricing__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 3%;
}
.pricing__paragraph {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
}
.pricing__join-now {
  color: rgb(241, 137, 123);
}
.pricing__settlement {
  margin-top: 90px;
}
.pricing__on-chain {
  margin-bottom: 100px;
}
.pricing__btn-border {
  border: 1px solid rgb(228, 228, 228);
  padding: 20px 50px;
}

@media (max-width: 768px) {
  .pricing__white-box {
    margin-left: 0;
  }
  .pricing__box-content {
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
  }
  .pricing__left-side {
    padding-right: 0;
  }
  .pricing__settlement {
    margin-top: 50px;
  }
  .pricing__on-chain {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.client {
  margin-left: 7%;
  margin-bottom: 5%;
}
.client__wrap {
  max-width: 22rem;
}
.client__client-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
}
.client__client-paragraph {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
}

.resources__boxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.resources__box {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}
.resources__img-content {
  position: relative;
}
.resources__img-review {
  max-width: 100%;
  height: auto;
}
.resources__paragraph, .resources__title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
  width: 70%;
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
}
.resources__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  top: 90%;
}

@media (max-width: 768px) {
  .resources-boxes {
    justify-content: center;
    align-items: center;
  }
  .resources-box {
    flex: 0 0 100%;
  }
}
.contact {
  margin: 4% 22% 0% 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact__client-wrap {
  max-width: 28rem;
}
.contact__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 4%;
}
.contact__paragraph {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
}
.contact__form-box {
  width: 15rem;
}
.contact__input-box {
  position: relative;
  padding-top: 35%;
  width: 100%;
}
.contact__input {
  width: 200%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(38, 42, 63);
}
.contact__label {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: rgb(38, 42, 63);
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
.contact__request {
  color: rgb(241, 137, 123);
  margin-top: 25%;
}
.contact__input-box i {
  visibility: hidden;
}
.contact__input-box small {
  visibility: hidden;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 520px) {
  .contact__form-box {
    width: 50%;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 8% 3% 7%;
}
.footer__policy {
  display: flex;
  flex-direction: row;
}
.footer__policy-right {
  margin-right: 5%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 1070px) {
  .nav-icons-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-icons {
    margin-left: 40%;
  }
}
.error-message {
  display: block;
  color: red;
  font-size: 12px;
  height: 12px;
}

/* Стили для бургер-меню */
.header__logo-bar {
  display: none;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  right: 5.3%;
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.header__navbar a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: #030303;
}

#menu-icon {
  font-size: 32px;
  color: #000;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

@media (max-width: 1070px) {
  #menu-icon {
    display: initial;
  }
  .header__navbar {
    position: absolute;
    top: -960px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #d4d4d4;
    transition: all 0.5s ease;
  }
  .header__navbar a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 3px solid #000;
  }
  .header__navbar.open {
    top: 75%;
    margin-left: -1%;
  }
  #menu-icon {
    font-size: 32px;
    color: #000;
    z-index: 10001;
    cursor: pointer;
    display: block;
  }
}
@media (max-width: 960px) {
  .header__logo-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px;
  }
}/*# sourceMappingURL=index.css.map */